<div class="container head-container">
    <div class="nav "  style="border-style:none;">
      <div class="navbar-header text-center" style="width:100%;">
        <span>
          <%= link_to 'Todo lists', todo_lists_path %>
        </span>
      </div>
    </div>

  <% @todo_lists.each do |todo_list| %>
  <div class="element" id="<%= dom_id(todo_list) %>">
    <div class="nav">
      <div class="navbar-header" style="overflow:hidden">
        <span>
          <%= todo_list.title %>
        </span>
      </div>
      <ul>
          <li><a class="description">Description</a></li>
          <li><%= link_to "Edit Items", todo_list_todo_items_path(todo_list) %></li>
          <li><%= link_to 'Show', todo_list %></li>
          <li><%= link_to 'Edit List', edit_todo_list_path(todo_list) %></li>
          <li><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
    <p class="hide description_items big" style="overflow:auto">
      <%= todo_list.description %>
    </p>
  </div>
  <% end %>

<span><%= link_to 'New Todo list', new_todo_list_path , :class => 'btn btn-default'%></span>
