<div class="element">
	<div class="nav">
	  <div class="navbar-header" style="overflow:hidden">
	    <span>
	      <%= @todo_list.title %>
	    </span>
	  </div>
	  <ul>
	      <li><a class="description">Description</a></li>
	      <% if @todo_list.has_incomplete_items? %>
	      	<li><a class="incomplete">Incompleate items</a></li>
	      <% else %>
	      	<li><a style="color:#C0C0C0">Incompleate items</a></li>
	      <% end %>
	      <% if @todo_list.has_completed_items? %>
	      	<li><a class="completed">Completed items</a></li>
	      <% else %>
	      	<li><a style="color:#C0C0C0">Completed items</a></li>
	      <% end %>
	  </ul>
	</div>
	<p class="hide description_items big" style="overflow:auto">
      <%= @todo_list.description %>
    </p>
    <p style="overflow:auto">
      	<ul class="hide incomplete_items big" style="overflow:auto">
			<% @todo_list.todo_items.incomplete.each do |todo_item| %>
				<li> 
					<%= todo_item.content %>
				</li>
			<% end %>
		</ul>
    </p>
    <p style="overflow:auto">
    	<ul class="hide completed_items big" style="overflow:auto">
    		<% if @todo_list.has_completed_items? %>
				<% @todo_list.todo_items.complete.each do |todo_item| %>
				<li> 
					<%= todo_item.content %>
				</li>
				<% end %>
			<% end %>
    	</ul>
    </p>

</div>

<button type="button" class="btn btn-default"><span><%= link_to 'Edit', edit_todo_list_path(@todo_list) %></span></button>
<button type="button" class="btn btn-default"><span><%= link_to 'Back', todo_lists_path %></span></button>
