<div class="container text-center signup">
	<h2>Sign in</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div>
	  	<label class="col-xs-6" >
	  		<span style="float:right">
	  			<%= f.label :email %>
	  		</span>
	  	</label>
	  	<div class="col-xs-6">
	  		<span style="float:left">
	  			<%= f.email_field :email, :autofocus => true %>
	  		</span>
	  	</div>
	  </div>

	  <div>
	  	<label class="col-xs-6" >
	  		<span style="float:right">
	  			<%= f.label :password %>
	  		</span>
	  	</label>
	  	<div class="col-xs-6">
	  		<span style="float:left">
	 			<%= f.password_field :password %>
	 		</span>
	  	</div>
	  </div>

	  <% if devise_mapping.rememberable? -%>
	    <div>
	  		<%= f.check_box :remember_me %> 	
	  		<%= f.label :remember_me %>
	  	</div>
	  <% end -%>

	  <div><%= f.submit "Sign in" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
