<!DOCTYPE html>
<html>
<head>
  <title>Odot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- nav -->
  <div class="nav">
    <h1><%= link_to "Odot", root_path %></h1>
    <ul>
      <% if user_signed_in? %>
        <%= link_to 'Log Out', destroy_user_session_path %>
        Signed in as... <%= current_user.email %>
      <% else %>
        <%= link_to 'Login', user_session_path %>
        <%= link_to 'Register', new_user_registration_path %>
      <% end %>
    </ul>
    <br class="clear" />
  </div>
  <!-- device alerts -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
  <% end %>

<%= yield %>
<br/>
<a href="https://github.com/DJilanov/odot">See the source.</a>
</body>
</html>
